/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
**/.DS_Store
**/sspec.json
results/scarpe-webview/*.yaml
results/scarpe-wasm/*.yaml
results/niente/*.yaml
results/gtk-scarpe/*.yaml
results/space-shoes/*.yaml
